openapi: 3.1.0
info:
  title: Brivo API
  version: 1.0.0
  description: >-
    Brivo API – Credential endpoints. See api-overview.md for base URLs, authentication, schema conventions, paging, and
    error codes.
servers:
  - url: https://api.brivo.com/v1/api
security:
  - oauth2: []
    apiKey: []
externalDocs:
  description: API conventions and authentication
  url: https://apidocs.brivo.com/access/api-overview.md
tags:
  - name: Credential
paths:
  /credentials:
    get:
      operationId: ListCredentials
      summary: Credential Listing
      description: Retrieve a listing of credentials which the current user has view permissions for.
      tags:
        - Credential
      parameters:
        - name: offset
          in: query
          required: false
          description: The offset of values before returning the first result.
          schema:
            type: number
        - name: pageSize
          in: query
          required: false
          description: The number of records to return in a Page.
          schema:
            type: number
        - name: filter
          in: query
          required: false
          description: >-
            Filters follow the common filter format for the api. Available filter criteria are  status  Filters based on
            a credential's status Allowed operators  eq: includes any credential that falls under the corresponding
            status   Allowed status values  assigned: returns credentials that are assigned to a user. unassigned:
            returns the credentials that are not assigned.     reference_id  Filters based on a reference id Allowed
            operators:  eq: includes any credential with a reference id  that contains the provided reference_id
            value     facility_code  Filters based on a facility code Allowed operators:  eq: includes any credential
            with a facility code  that contains the provided facility_code value
          schema:
            type: string
            x-apidoc-original-type: Text
      responses:
        '200':
          description: 'Success-Response:'
          content:
            application/json:
              examples:
                'Success-Response:':
                  value:
                    offset: 0
                    pageSize: 20
                    count: 1
                    data:
                      - id: 38981
                        credentialFormat:
                          id: 100
                          name: HID 26 bit Card
                        referenceId: '329'
                        encodedCredential: 28c0293
                        fieldValues:
                          - value: '329'
                            id: 1
                            name: acs.cards.format.card_number
                          - value: '70'
                            id: 2
                            name: acs.cards.format.facility_code
                        size: 26
                        accountId: 50122
        '400':
          description: Bad Request, the provided request criteria are not valid
          content:
            application/json:
              examples:
                '400 Error-Response:':
                  value:
                    code: 400
                    message: Invalid criteria provided
    post:
      operationId: CreateCredential
      summary: Create New Credential
      description: >-
        Creates a single credential.


        There are two methods which can be used to create a credential:


        - Posting the encodedCredential

        - Posting the set of field values.



        If the encodedCredential is sent that will take precedence over the credential field values. In either case the
        newly created Credential will be returned with the encodedCredential, the field values, and the credential's ID.


        Supported Credential Formats | | |

        HID 26 bit | 64-bit BCD PIV | 64-bit Reverse BCD PIV |

        128-bit PIV | 75-bit PIV | Allegion 34S |

        Casi-Rusco 40 bit | FASC-N | Generic 34 bit (Even) |

        Generic 34 bit (Odd) | HID 33 bit | HID 33 D10202 bit |

        HID 35 bit | HID 37 bit | HID 37 bit w Facility Code |

        HID Corporate 1000 48-bit | PIV-I | Generic 36-bit with Vendor Code |

        30-bit Wiegand | 32-bit CSN | Allegion 40-Bit |

        Allegion 40X 40-Bit | AWID 50 bit | HID 36 bit |

        WaveLynx 56-bit LEAF | License plate | EE LPR License plate |

        Brivo Mobile Credential | Brivo Mobile Pass | Unknown format |
      tags:
        - Credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                credentialFormat:
                  type: string
                  x-apidoc-original-type: CredentialFormat
                  description: The format of the credential to be Created.
                referenceId:
                  type: string
                  x-apidoc-original-type: Text
                  description: The display or external value of the credential.
                encodedCredential:
                  type: string
                  x-apidoc-original-type: Text
                  description: >-
                    The hexadecimal representation of the credential. The encodedCredential must include any Parity or
                    Check bits for the credential format. If the exact format of the credential isn't known then use the
                    field values to add the credential. Either the encodedCredential or the fieldValues are required.
                    The encodedCredential will be used if both are specified.
                size:
                  type: number
                  description: >-
                    The size in number of bits of the credential to be added. This value needs to match the bit length
                    of the credential format added. If the credentialFormat is of type Unknown format then this size
                    value will be used, otherwise the number of bits for the credential will not be set and will remain
                    NULL.
                fieldValues:
                  type: array
                  items:
                    type: string
                    x-apidoc-original-type: FieldValue
                  description: >-
                    An listing of Field Values to be used in creating the Credential. These values will be ignored if
                    the encodedCredential is specified. The id and value are required for specifying the credential
                    fields. Each credentialFormat uses a different set of Credential Fields even if they share the same
                    name. If creating a credential of type "Swipe To Enroll" the encodedCredential must match the exact
                    length expected to come from the reader when converted from hexadecimal to binary.
                credentialUsedWithOfflineLocks:
                  type: boolean
                  description: Field which specifies if the newly created credential is usable with offline locks.
              required:
                - credentialFormat
                - referenceId
      responses:
        '200':
          description: 'Success-Response:'
          content:
            application/json:
              examples:
                'Success-Response:':
                  value:
                    id: 38981
                    credentialFormat:
                      id: 100
                      name: HID 26 bit Card
                    referenceId: '329'
                    encodedCredential: 28c0293
                    fieldValues:
                      - id: 1
                        value: '329'
                        name: acs.cards.format.card_number
                      - id: 2
                        value: '70'
                        name: acs.cards.format.facility_code
                    size: 26
                    accountId: 50122
        '400':
          description: Bad Request, the provided request criteria are not valid
          content:
            application/json:
              examples:
                '400 Error-Response:':
                  value:
                    code: 400
                    message: Invalid criteria provided
  /credentials/createAndAssignEELPRCredential/{userId}:
    post:
      operationId: createAndAssignEELPRLicensePlate
      summary: Create New EEN License Plate Credential
      description: >-
        Creates an Eagle Eye Networks license plate credential and assigns it to a User. When assigning the Credential
        to a User, the effective date range that the credential is valid for use will also be set.
      tags:
        - Credential
      parameters:
        - name: userId
          in: path
          required: true
          description: id associated with the user
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                referenceId:
                  type: string
                  x-apidoc-original-type: Text
                  description: The display or external value of the credential.
                effectiveFrom:
                  type: string
                  format: date-time
                  description: The start date
                effectiveTo:
                  type: string
                  format: date-time
                  description: The end date
              required:
                - referenceId
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request, ReferenceId is not provided
          content:
            application/json:
              examples:
                '400 Error-Response:':
                  value:
                    code: 400
                    message: Invalid criteria provided
        '403':
          description: Forbidden, the attempted action is forbidden
          content:
            application/json:
              examples:
                '403 Error-Response:':
                  value:
                    code: 403
                    message: You are not allowed to perform that action
        '404':
          description: Not Found, the specified user was not found
          content:
            application/json:
              examples:
                '404 Error-Response:':
                  value:
                    code: 404
                    message: User not found
  /credentials/createAndAssignFaceprintCredential/{userId}:
    post:
      operationId: faceprintCredential
      summary: Create and Assign Faceprint Credential
      description: >-
        Creates a Faceprint credential and assigns it to a User. The user needs to have a valid profile photo. Supported
        languages: English, French, Spanish, Dutch, German, Swedish
      tags:
        - Credential
      parameters:
        - name: userId
          in: path
          required: true
          description: id associated with the user
          schema:
            type: number
      responses:
        '200':
          description: Successful Response
        '400':
          description: Bad Request, the provided request criteria are not valid
          content:
            application/json:
              examples:
                '400 Error-Response:':
                  value:
                    code: 400
                    message: Invalid criteria provided
        '403':
          description: Forbidden, the attempted action is forbidden
          content:
            application/json:
              examples:
                '403 Error-Response:':
                  value:
                    code: 403
                    message: You are not allowed to perform that action
  /credentials/deleteFaceprintCredential/{userId}:
    delete:
      operationId: DeleteCredentialsDeletefaceprintcredentialUserid
      summary: Delete Faceprint Credential
      description: Remove the faceprint credential associated to the user
      tags:
        - Credential
      parameters:
        - name: userId
          in: path
          required: true
          description: associated with the user
          schema:
            type: number
      responses:
        '200':
          description: Successful Response
        '400':
          description: Bad Request, the provided request criteria are not valid
          content:
            application/json:
              examples:
                '400 Error-Response:':
                  value:
                    code: 400
                    message: Invalid criteria provided
        '403':
          description: Forbidden, the attempted action is forbidden
          content:
            application/json:
              examples:
                '403 Error-Response:':
                  value:
                    code: 403
                    message: You are not allowed to perform that action
  /credentials/formats:
    get:
      operationId: ListCredentialFormats
      summary: List credential formats
      description: Retrieve a list of the available credential formats
      tags:
        - Credential
      responses:
        '200':
          description: 'Success-Response:'
          content:
            application/json:
              examples:
                'Success-Response:':
                  value:
                    count: 1
                    data:
                      - id: 100
                        name: HID 26 bit Card
                        credentialFields:
                          - id: 1
                            name: card_number
                          - id: 2
                            name: facility_code
  /credentials/updateFaceprintCredentialDates/{userId}:
    put:
      operationId: PutCredentialsUpdatefaceprintcredentialdatesUserid
      summary: Edit Dates for Faceprint Credential
      description: Edit the faceprint credential dates associated to the user
      tags:
        - Credential
      parameters:
        - name: userId
          in: path
          required: true
          description: associated with the user
          schema:
            type: number
      responses:
        '200':
          description: Successful Response
        '400':
          description: Bad Request, the provided request criteria are not valid
          content:
            application/json:
              examples:
                '400 Error-Response:':
                  value:
                    code: 400
                    message: Invalid criteria provided
        '403':
          description: Forbidden, the attempted action is forbidden
          content:
            application/json:
              examples:
                '403 Error-Response:':
                  value:
                    code: 403
                    message: You are not allowed to perform that action
  /credentials/{credentialId}:
    get:
      operationId: GetCredential
      summary: Credential Retrieval
      description: Retrieve a Credential based on the Credential Id
      tags:
        - Credential
      parameters:
        - name: credentialId
          in: path
          required: true
          description: ''
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                credentialId:
                  type: number
                  description: The Id of the credential to retrieve.
              required:
                - credentialId
      responses:
        '200':
          description: 'Success-Response:'
          content:
            application/json:
              examples:
                'Success-Response:':
                  value:
                    id: 38981
                    credentialFormat:
                      id: 100
                      name: HID 26 bit Card
                    referenceId: '329'
                    encodedCredential: 28c0293
                    fieldValues:
                      - id: 1
                        value: '329'
                        name: acs.cards.format.card_number
                      - id: 2
                        value: '70'
                        name: acs.cards.format.facility_code
                    size: 26
                    accountId: 50122
        '404':
          description: Not Found, the specified credential was not found
          content:
            application/json:
              examples:
                '404 Error-Response:':
                  value:
                    code: 404
                    message: Credential not found
    delete:
      operationId: DeleteCredential
      summary: Delete Credential
      description: Remove a saved credential by its ID
      tags:
        - Credential
      parameters:
        - name: credentialId
          in: path
          required: true
          description: id associated with the credential
          schema:
            type: number
      responses:
        '204':
          description: Successful Response
        '404':
          description: Not Found, the specified credential was not found
          content:
            application/json:
              examples:
                '404 Error-Response:':
                  value:
                    code: 404
                    message: Credential not found
  /credentials/{credentialId}/user:
    get:
      operationId: RetrieveUserByCredential
      summary: Retrieve user by credential id
      description: Retrieves a User by the provided credential id
      tags:
        - Credential
      parameters:
        - name: credentialId
          in: path
          required: true
          description: The id associated with the credential
          schema:
            type: number
      responses:
        '200':
          description: 'Success-Response:'
          content:
            application/json:
              examples:
                'Success-Response:':
                  value:
                    id: 442211
                    externalId: peter.smith
                    firstName: Peter
                    lastName: Smith
                    suspended: false
        '404':
          description: Not Found, the specified credential was not found or there is no user assigned
          content:
            application/json:
              examples:
                '404 Error-Response:':
                  value:
                    code: 404
                    message: Credential not found
  /credentials/{userId}/unassignAndDeleteEELPRCredential/{credentialId}:
    delete:
      operationId: UnassignAndDeleteEELPRLicensePlate
      summary: Revoke and Delete an EEN License Plate Credential
      description: >-
        Revokes a particular Eagle Eye Network license plate credential from a user and removes that credential from the
        account.
      tags:
        - Credential
      parameters:
        - name: userId
          in: path
          required: true
          description: id associated with the user
          schema:
            type: number
        - name: credentialId
          in: path
          required: true
          description: id associated with the credential
          schema:
            type: number
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request, the provided request criteria are not valid
          content:
            application/json:
              examples:
                '400 Error-Response:':
                  value:
                    code: 400
                    message: Invalid criteria provided
        '403':
          description: Forbidden, the attempted action is forbidden
          content:
            application/json:
              examples:
                '403 Error-Response:':
                  value:
                    code: 403
                    message: You are not allowed to perform that action
        '404':
          description: Not Found, the specified user was not found
          content:
            application/json:
              examples:
                '404 Error-Response:':
                  value:
                    code: 404
                    message: Credential not found
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: api-key
      description: Mashery API key obtained from developer.brivo.com
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.brivo.com/oauth/authorize
          tokenUrl: https://auth.brivo.com/oauth/token
          scopes: {}
        password:
          tokenUrl: https://auth.brivo.com/oauth/token
          scopes: {}
